/* Typography */

.heading,
.footer {
    text-align: center;
}

.small-print {
    font-size: 75%;
}

.justify-right {
    text-align: right;
}

/* Design components */

.framed {
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #eee;
}

.author-portrait {
    border-radius: 50%;
    overflow: hidden;
}

.portrait {
    max-height: 100%;
}

.section:not(:last-of-type),
.gallery > .container > .row:not(:last-of-type) {
    border-bottom: 1px solid #e1e1e1;
}

.about {
    background-color: #eee;
}

.footer > p > a {
    text-decoration: none;
}

/* Layout */

.heading,
.about,
.gallery > .container > .row {
    padding-top: 2rem;
}

.gallery > .container > .row {
    padding-bottom: 2rem;
}

.footer > p {
    margin: 0.75rem;
}

.author-portrait {
    margin: 0 1rem;
    width: 100px;
    height: 100px;
}


/* Bigger than 550 */
@media (min-width: 550px) {}

/* Bigger than 750 */
@media (min-width: 750px) {}
  
/* Bigger than 1000 */
@media (min-width: 1000px) {}

/* For random order */

.js-creation-container {
    display: flex;
    flex-direction: column;
}

