---
layout: default
---
<div class="pad">

  {% assign author = site.authors | where:"path", page.path | first %}
  
  <h2>{{ author.display_name }}</h2>

  <img 
    src="{{ author.portrait }}" 
    alt="A portrait">

    <p>
      {{ content }}
    </p>

  <div class="gallery">

  <h3>Creations of {{ author.display_name }} at {{ site.title }}:</h3>

  {% assign creations_to_exhibit = site.creations | where:"author", page.path %}
  {%- for creation in creations_to_exhibit -%}
    <div class="creation js-creation">
      <a class="frame" href="{{ creation.link }}">
        <img class="u-max-full-width" 
          src="{{ creation.image }}" 
          alt="{{ creation.image_alt }}">
      </a>
      <div class="creation__meta">
        <h2 class="creation__title fancy">{{ creation.title }}</h2>
        
        {{ creation.content }}

      </div>
    </div>
  {%- endfor -%}

  </div>

  <p>Discover more about the author <a href="{{ author.link }}">here</a></p>
</div>