<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}



    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <ul>
          {% for creation in site.creations %}
            <li>
              <h2>{{ creation.title }}</h2>
              {% assign author = site.authors | where:"path", creation.author | first %}
              {{ author.link }}
            </li>
          {% endfor %}
        </ul>
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
