---
layout: default
---

<div class="pad">

  <p>Exhibition # {{page.issue}}</p>

  <div class="gallery">

  {% assign creations_to_exhibit = site.creations | where:"exhibition", page.issue %}
  {%- for creation in creations_to_exhibit -%}
    {% assign author = site.authors | where:"path", creation.author | first %}
    <div class="creation js-creation {% if creation.tall %} tall {% endif %}">
      <a class="frame" href="{{ creation.link }}" target="_blank">
        <img class="u-max-full-width" 
          src="{{ creation.image }}" 
          alt="{{ creation.image_alt }}">
      </a>
      <div class="creation__meta">
        <h2 class="creation__title fancy">{{ creation.title }}</h2>
        
        {{ creation.content }}

        <div class="author-portrait u-pull-right">
          <img class="u-max-full-height"
            src="{{ author.portrait }}" 
            alt="A portrait">
        </div>
        <p class="creation__author">
          Made real by 
          <a class="fancy" href="{{ author.url }}">{{ author.display_name }}</a>.
        </p>
      </div>
    </div>
  {%- endfor -%}

  </div>
</div>
